
@foreach (var item in ViewBag.productDetail)
{
    <div class="col-sm-6">
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" value="@item.ID" readonly>
        </div>
        <div class="form-group">
            <label>Code</label>
            <input type="text" class="form-control" value="@item.Code" required>
        </div>
        <div class="form-group">
            <label>ProductName</label>
            <input class="form-control" required value="@item.ProductName">
        </div>
        <div class="form-group">
            <label>Thumb</label>
            <br />
            <img src="~/Content/images/@item.Thumb" alt="Alternate Text" height="200" />
            @*<input type="file" class="form-control" required>*@
        </div>
        <div class="form-group">
            <label>CategoryID</label>
            <input type="text" class="form-control" required value="@item.CategoryID">
        </div>
        <div class="form-group">
            <label>Desn</label>
            <textarea class="form-control" required>@item.Desn</textarea>
        </div>
        <div class="form-group">
            <label>Mac</label>
            <input class="form-control" required value="@item.Manufac">
        </div>
    </div>
    <div class="col-sm-6">

        <div class="form-group">
            <label>Supplier</label>
            <input type="text" class="form-control" required value="@item.Supplier">
        </div>
        <div class="form-group">
            <label>Country</label>
            <input type="text" class="form-control" required value="@item.Country">
        </div>
        <div class="form-group">
            <label>Material</label>
            <input type="text" class="form-control" required value="@item.Material">
        </div>
        <div class="form-group">
            <label>Status</label>
            <input type="text" class="form-control" required value="@item.ProductStatus">

        </div>
        <div class="form-group">
            <label>CreateDate</label>
            <input type="datetime" class="form-control" required value="@item.CreateDate" readonly>
        </div>
    </div>


}
